server:
  port: 8082

spring:
  application:
    name: order-service
  profiles:
    active: dev

  cloud:
    kubernetes:
      config:
        enabled: true
        name: order-service-config
        paths: /workspace/config
      # 4. K8s Service Discovery 활성화 (Eureka 대체)
      discovery:
        enabled: true